<!DOCTYPE html>
<!-- BEGIN html -->
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US"><!-- BEGIN head --><head>

	<!-- Meta Tags -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Title -->
	<title>PW JS Tag Demo</title>

  <!--Primary CSS-->
  <link rel="stylesheet" href="style.css" type="text/css" media="screen">

	<!--Color CSS-->
	<link rel="stylesheet" href="css/color.css" type="text/css" media="screen">
	<link rel="stylesheet" href="css/response.css" type="text/css" media="screen">

  <!-- 1140px Grid styles for IE -->
	<!--[if lte IE 9]><link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" /><![endif]-->

  <!--[if IE 8]>
      <link rel="stylesheet" type="text/css" href="css/ie8.css" />
  <![endif]-->

</head><!-- END head -->

<!-- BEGIN body -->
<body class="single single-post">

    <div class="wrap container" style="margin:0;padding:0;margin-top:-20px;">

		<div class="inner_wrap row">

      <div id="alert" style="display:none;">iPhone user-agent required to preview this ad.</div>
      <div id="ad"></div>


            <div id="header" class="clearfix">

                <div class="header-middle clearfix">

                    <div id="logo">
                        <a class="title" href="index.html">PW</a>
                        <span class="description">A stylish blog/magazine theme</span>
                    </div> <!--logo-->

                    <div id="social_sharing" class="alignright">
                      <ul>
                          <li><a title="Follow on twitter" class="twitter" href="http://www.twitter.com/phuwnare">Twitter</a></li>

                          <li><a title="Follow us on Facebook" class="facebook" href="http://www.facebook.com/phuwnare">Facebook</a></li>
                          <li><a title="We're also on Pinterest" class="pininterest" href="http://www.pinterest.com/phuwnare">Pin Interest</a></li>

                          <li><a title="Add in your professional network" class="linked" href="http://www.linkedin.com/">linked</a></li>

                          <li><a title="Our RSS feed" class="rss" href="#">RSS</a></li>
                      </ul>
                    </div>  <!--#social_sharing-->

                </div> <!--.header-middle-->

                <div class="header-bottom clearfix">

                    <div id="mobile-nav">
                      <div class="menu-primary-menu-container">
                          <ul id="menu-primary-menu" class="menu">
                              <li><a href="#"><strong>Home</strong></a></li>
                          </ul>
                      </div>
                    </div>

                </div> <!-- header-bottom -->

            </div> <!--#header-->

            <div id="main_container" class="container">

                <div class="inner_content row">

                    <!--BEGIN .post-content-->
					<div class="post-content">

                        <!--BEGIN .hentry -->
                        <div class="hentry">

                  			<div class="post-meta">
                            <span class="date">June 25, 2015</span>
                            <span>by</span>
                            <span class="author"><a href="#" title="Posts by John Doe" rel="author">John Doe</a></span>
                        </div><!--post-meta-->

                            <h2 class="post_title">Phunware JS Ad Tags</h2><!--END .post-title -->

                            <!--BEGIN .entry-content -->
                            <div class="entry-content">


								<p>The goal of user <a href="#">interface design</a> is to make the user&#8217;s interaction as simple and efficient as possible, in terms of accomplishing user goals. User interface design or user interface engineering is the design of computers, appliances, machines, mobile communication devices, software applications, and websites. The goal of user interface design is to <strong>make the user&#8217;s interaction as simple and efficient as possible,</strong> in terms of accomplishing user goals.</p>

                                <h2>A subtile in the post</h2>
                                <h3>A subtile in the post</h3>
                                <h4>A subtile in the post</h4>
                                <h5>A subtile in the post</h5>
                                <h6>A subtile in the post</h6>

                                <p>User interface <em>design or user interface</em> engineering is the design of computers, appliances, machines, mobile communication devices, software applications, and websites.The goal of user interface design is to make the user&#8217;s interaction as simple and efficient as possible, in terms of accomplishing user goals. User interface design or user interface engineering is the design of computers, appliances, machines, mobile communication devices, software applications, and websites.</p>
                                <blockquote><p>This is a beautiful and elegant blog quote styling. It may take one, two or more lines. Another text here.</p></blockquote>
                                <p>The goal of user <u>interface design</u> is to make the user&#8217;s interaction as simple and efficient as possible, in terms of accomplishing user goals. User interface design or user interface engineering is the design of computers, appliances, machines, mobile communication devices, software applications, and websites. <b>The goal</b> of user interface design is to make the user&#8217;s interaction as simple and efficient as possible, in terms of accomplishing user goals.</p>

                                <h2>Example unordered list</h2>
                                <ul>
                                	<li>User interface</li>
                                    <li>User interface</li>
                                    <li>User interface</li>
                                    <li>User interface</li>
                                    <li>User interface</li>
                                    <li>User interface</li>
                                </ul>

                                <h2>Example ordered list</h2>
                                <ol>
                                	<li>User interface</li>
                                    <li>User interface</li>
                                    <li>User interface</li>
                                    <li>User interface</li>
                                    <li>User interface</li>
                                    <li>User interface</li>
                                </ol>

                                <p>The goal of user interface design is to make the user&#8217;s interaction as simple and efficient as possible, in terms of accomplishing user goals. User interface design or user interface engineering is the design of computers, appliances, machines, mobile communication devices, software applications, and websites. The goal of user interface design is to make the user&#8217;s interaction as simple and efficient as possible, in terms of accomplishing user goals.</p>

                            </div><!--END .entry-content -->

                            <div class="clear"></div>

                            <div id="sharing_box" class="clearfix"  data-href="" data-title=""></div><!--end of social_sharing code-->







                        </div><!--END .hentry-->

                         <div class="clear"></div>

                	</div><!--END .post-content-->


                    <!--BEGIN #sidebar-->
					<div id="sidebar" class="column">

                        <div  class="widget posts_Thumb">

                            <h4 class="widget-title">Popular Posts</h4>

                            <ul class="post-thumb widget_posts clearfix">

                            <li class="item">

                                <div class="thumbnail">
                                    <a href="#"><img src="home_files/2-140x140.png" alt="2" height="70" width="70"></a>
                                </div>

                                <div class="details">

                                    <h4><a href="#">Random Quote Plugin With Custom Post Type</a></h4>

                                    <div class="post-meta">
                                        <span class="date">August 1, 2012 </span>
                                        <span>by</span>
                                        <span class="author"><a href="#" title="Posts by John Doe" rel="author">John Doe</a> </span>
                                    </div><!--post-meta-->

                                </div><!--.details-->

                                <div class="clear"></div>

                            </li><!--.item-->


                            <li class="item">

                                <div class="thumbnail">
                                    <a href="#"><img src="home_files/51-140x140.jpg" alt="1" height="70" width="70"></a>
                                </div>

                                <div class="details">
                                    <h4><a href="#">Integrating With WordPress UI</a></h4>

                                    <div class="post-meta">
                                        <span class="date">September 30, 2012 </span>
                                        <span>by</span>
                                        <span class="author"><a href="#" title="Posts by John Doe" rel="author">John Doe</a> </span>
                                    </div><!--post-meta-->

                                </div><!--.details-->

                                <div class="clear"></div>

                            </li><!--.item-->


                            <li class="item">

                                <div class="thumbnail">
                                    <a href="#"><img src="home_files/4-140x140.png" alt="4" height="70" width="70"></a>
                                </div>

                                <div class="details">
                                    <h4><a href="#">WordPress Caching Plugins</a></h4>

                                    <div class="post-meta">
                                        <span class="date">August 2, 2012 </span>
                                        <span>by</span>
                                        <span class="author"><a href="#" title="Posts by John Doe" rel="author">John Doe</a> </span>
                                    </div><!--post-meta-->

                                </div><!--.details-->

                                <div class="clear"></div>

                            </li><!--.item-->


                            <li class="item">

                                <div class="thumbnail">
                                    <a href="#"><img src="home_files/81-140x140.jpg" alt="8" height="70" width="70"></a>
                                </div>

                                <div class="details">
                                    <h4><a href="#">Conquering the wp-config.php File</a></h4>

                                    <div class="post-meta">
                                        <span class="date">September 30, 2012 </span>
                                        <span>by</span>
                                        <span class="author"><a href="#" title="Posts by John Doe" rel="author">John Doe</a> </span>
                                    </div><!--post-meta-->

                                </div><!--.details-->

                                <div class="clear"></div>

                            </li><!--.item-->


                            <li class="item">

                                <div class="thumbnail">
                                    <a href="#"><img src="home_files/71-140x140.jpg" alt="7" height="70" width="70"></a>
                                </div>

                                <div class="details">
                                    <h4><a href="#">WordPress Caching Plugins</a></h4>

                                    <div class="post-meta">
                                        <span class="date">September 30, 2012 </span>
                                        <span>by</span>
                                        <span class="author"><a href="#" title="Posts by John Doe" rel="author">John Doe</a> </span>
                                    </div><!--post-meta-->

                                </div><!--.details-->

                                <div class="clear"></div>

                            </li><!--.item-->

                            </ul>

                        </div><!--.widget-->



					</div><!--END .sidebar-->

                    <div class="clear"></div>

                </div><!-- .inner_content-->

            </div> <!--#main_container-->



            <!-- BEGIN #footer-container -->
            <div id="footer" class="container">

                <div class="footer_inner row clearfix">

                    <!-- BEGIN .widget-section -->
                    <div class="grid_four neutral">

                        <div class="widget widget_text">
                            <h4 class="widget-title">About the theme</h4>
                            <div class="textwidget">
                                <p>Lorem ipsum dolor sit consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                                <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla consequat massa quis enim.</p>
                            </div>
                        </div><!--widget-->

                    </div><!-- END .grid_four -->


                    <div class="clear"></div>

                </div><!--Footer-inner-->
            </div><!-- end .footer -->


            <div id="footer_bottom" class="container">

                <div class="footer_inner attribution clearfix row">

                    <p class="copyright">&copy; Copyright 2015<span></span></p>



                </div> <!--attribution-->

                <div class="top_scroll"><a style="display: none;" href="#top">↑</a></div>

            </div> <!--Footer_bottom-->

    	</div> <!--.inner_warp-->

	</div> <!--.wrap .container	-->


    <link rel="stylesheet" href="../resources/uaAlert.css">
    <script src="../resources/userAgent.js"></script>
    <script>
      (function(w, d, e, s, n, a, m){
        w[n] = w[n] || function() {
          (w[n].q = w[n].q || []).push(arguments);
        };
        a = d.createElement(e);
        m = d.getElementsByTagName(e)[0];
        a.async = 1;
        a.src = s + '?' + 1 * new Date();
        m.parentNode.insertBefore(a,m);
      })(window, document, 'script', 'https://s3.amazonaws.com/img.tapit.com/js/tapit.v2.js', 'phunware');

      phunware('getAd', { zone: 1, elementId: 'ad', mode: 'test' }, function(){});
    </script>

</body><!--END body-->

</html><!--END html-->